@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui";


.top-contect {
  background-image: url('./component/assets/background.png');
  background-size: cover; /* Ensures the image covers the whole screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repetition */
  background-color: black;
}

@theme {
  --breakpoint-custom: 410px;
  --breakpoint-custom2: 570px;
  --breakpoint-custom3: 650px;

}